
.home{
    min-height: calc(100vh - 250px);
  }
  .home-container {
    max-width: calc(100vw - 250px);
    margin: 20px auto;
    border: 1px solid rgb(154 154 154 / 38%);
    padding: 20px;
    border-radius: 8px;
  }

  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .search-bar {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 16px;
  }

  .add-button {
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .add-button span {
    transition: transform 0.5s ease; 
  }
  .add-button:hover span {
    transform: rotate(135deg);
    display: inline-block;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
  }

  .table th, .table td {
    border: 1px solid #ddddddae;
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;
    text-align: left;
  }

  .table th {
    background-color: #ededf7;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .edit-button, .add-button {
    background-color: #0074E4; 
    color: #ffffff; 
    padding: 4px 16px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }

  .edit-button:hover, .add-button:hover {
    background-color: #0057a8; 
  }


  .delete-button {
    background-color: #ff000096; 
    color: #ffffff; 
    padding: 4px 16px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }

  .delete-button:hover {
    background-color: #cc0000; 
  }

  .section-heading h2 {
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 50px; 
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(26, 24, 24, 0.15);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #141414;
  }

  #name,
  #email{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  #addEmployeeForm label{
    font-size: 20px;
    font-weight: bold;
  }
  